service vendor.cec-stm32mpu /vendor/bin/hw/android.hardware.tv.hdmi.cec-service.stm32mpu
    interface aidl android.hardware.tv.hdmi.cec.IHdmiCec/default
    class hal
    user system
    group system
